@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    color: #EDF2F4;
}
.scrollContainer {
  overflow: auto;
}

.scrollContainer::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #D90429;
  border-radius: 10px;
  height: 2px;
}
.active {
  background-color: #BDC5CF;
  
}

.searchpanel {
  height: calc(100% - (80px));
}

.friends {
  height: calc(100% - (56px));
}
.messages {
  height: calc(100% - (128px));
}
.message1 {
  padding: 5px 10px;
  background: #2B2D42;
  align-self: end;
  border-radius: 10px 0px 10px 10px;
  overflow-wrap: break-word;
  max-width: 80%;
  width: fit-content;
  display: flex;
}
.message2 {
  display: flex;
  padding: 5px 10px;
  background: #EF233C;
  border-radius: 0px 10px 10px 10px;
  overflow-wrap: break-word;
  max-width: 80%;
  width: fit-content;
}
.time {
  font-size: 13px;
  text-align: end;
  align-self: flex-end;
  color: #d2cbcb;
}
